body{
    background-color: #101a35;
    display: flex;
    justify-content: center;
}

.calculator-body{
    max-width: 400px;
    max-height: 1300px;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 10px;
}

.calculator-body div{
    cursor: pointer;
}

.calculator-body__panel{
    width: 400px;
    height: 120px;
    background-color:#ffffff;
}

.calculator-body__panel__display{
    display: flex;
    width: 400px;
    align-items: center;
    justify-content: flex-end;
}

.calculator-body__panel__display--secondary{
    height: 40px;
    font-size: 30px;
}

.calculator-body__panel__display--primary{
    height: 80px;
    font-size: 50px;
}

.calculator-body__lines--first-line, .calculator-body__lines--second-line, .calculator-body__lines--third-line, .calculator-body__lines--fourth-line, .calculator-body__lines--fifth-line{
    display: flex;
}

.calculator-body__lines__buttons{
    width: 100px;
    height: 80px;
    margin: 3px 3px 3px 3px;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.calculator-body__lines__buttons--type-operational{
    background-color: #76777c;
}

.calculator-body__lines__buttons--type-operational:hover{
    background-color: #e2e2e2;
}

.calculator-body__lines__buttons--type-number{
    background-color: #e2e2e2;
}

.calculator-body__lines__buttons--type-number:hover{
    background-color: #76777c;   
}

@media screen and (max-width: 425px){
    .calculator-body{
        max-width: 300px;
        max-height: 975px;
        padding: 4px;
    }
    
    .calculator-body__panel{
        width: 300px;
        height: 90px;
    }
    
    .calculator-body__panel__display--secondary{
        height: 30px;
        width: 300px;
        font-size: 25px;
    }
    
    .calculator-body__panel__display--primary{
        height: 60px;
        width: 300px;
        font-size: 40px;
    }
    .calculator-body__lines__buttons{
        width: 75px;
        height: 60px;
        font-size: 30px;
    }
}
